<div class="intro text-center">
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin</h2>
</div>

<%= image_tag("https://s-media-cache-ak0.pinimg.com/originals/87/7e/cc/877ecc3c4f5b218bfd356de489e1ecd9.jpg", class: "img-responsive") %>
